<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.diary">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_diary"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="example.diary.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="example.diary.ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name="example.diary.ui.login.LoginActivity" />
        <activity
            android:name="example.diary.ui.diary.DiaryActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.memo.MemoActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!--<activity android:name=".ui.pinlock.PinlockActivity"/>-->
        <!--<activity android:name=".ui.setting.SettingActivity"/>-->

        <receiver
            android:name="example.diary.ui.memo.AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>